*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgreen;
    overflow: hidden;
}

canvas{
    display: block;
    background-color: brown;
    margin: auto;
}